/* Initials Values */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Orange Color : rgba(252, 102, 108, 1) */

@font-face {
  font-family: Frutiger;
  src: url("../font/FrutigerLTStd-Light.otf");
}

body{
	font-family: 'Frutiger';
}

.height-100{
	height: 100vh;
}

.height-90{
	height: 90vh;
}

.height-70{
	height: 70vh;
}

.height-40{
	height: 225px;
}

.max-height-30{
	max-height: 175px;
}

@media only screen and (max-width: 576px) {
	.max-width-50-xs{
		max-width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.max-width-30-sm{
		max-width: 30vh;
	}
}

@media only screen and (max-width: 576px) {
	h4{
		font-size: 20px;
	}
}

@media only screen and (max-width: 576px) {
	h3{
		font-size: 25px;
	}
}

.bg-orange{
	background-color: rgba(252, 102, 108, 1);
}

.orange:hover{
	color: rgba(252, 102, 108, 1);
	cursor: pointer;
}


/* Styles for the navigation bar */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Set custom colors to all navbar elements */

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: rgba(252, 102, 108, 1);
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar {
	background-color: rgb(240,240,240);
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link{
        color: rgba(252, 102, 108, 1);
}

.navbar-light .navbar-toggler{
	border-color: rgba(252, 102, 108, .5);
	background-color: rgba(255, 255, 255, 0.75)
}

/* Styles for the Header Section */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

#header{
	margin-top: -56px;
	background-color: rgb(240,240,240);
}

@media only screen and (max-width: 576px) {
	#header{
		margin-top: -42px;
	}
}

/* Styles for the Follow Section */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 576px) {
	.insta-post img{
	  object-fit: cover; /* Do not scale the image */
	  object-position: center; /* Center the image within the element */
	  border: 1px solid white;
	  width: 100%;
	  height: 50vw;
	}
}

@media (max-width:768px) and (min-width:568px) {
	.insta-post img{
  		object-fit: cover; /* Do not scale the image */
  		object-position: center; /* Center the image within the element */
  		border: 1px solid white;
  		width: 100%;
  		height: 33vw;
	}
}

@media only screen and (min-width: 768px) {
	.insta-post img{
	  object-fit: cover; /* Do not scale the image */
	  object-position: center; /* Center the image within the element */
	  border: 1px solid white;
	  width: 100%;
	  height: 22vw;
	}
}

.insta-post:hover{
	cursor: pointer;
}

/* Styles for the Footer Section */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

#footer{
	background-image: url("../icon/footer-bg-icon.png");
	background-repeat: repeat;
	height: 100px;
}
